.supplier-dashboard {
  display: flex;
  min-height: 100vh;
  background: #f5f6fa;
}

.supplier-sidebar {
  width: 230px;
  background: #1e272e;
  color: white;
  padding: 20px;
}

.supplier-sidebar h1 {
  margin-bottom: 20px;
}

.supplier-sidebar button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background: #485460;
  color: white;
  border-radius: 5px;
}

.logout-btn {
  background: #d63031 !important;
}

.supplier-content {
  padding: 25px;
  width: 100%;
}

.card {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.alert {
  border-left: 5px solid #ffa502;
}

.message {
  background: #dfe6e9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
